$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$primary-font: 20px;
$color: red;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background: $color;
  border: 1px solid #ccc;
}